/*********************************************************/
/* Elements                                              */
/*********************************************************/

canvas { 
	border: 1px solid black;
}

/*********************************************************/
/* Classes                                               */
/*********************************************************/

.hidden {
    display: none;
}

/*********************************************************/
/* Identifiers                                           */
/*********************************************************/

#content {
	margin-left:auto;
	margin-right:auto;
	width: 50%;
}